In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('labeled_data/0328-all_url_list-0404.xlsx', index_col=0)
# rename columns
print(df.columns)
# df['comments'] = df['comments'].astype('string')
# df['category'] = df['category'].astype('string')
# df['url'] = df['url'].astype('string')
# df['ERROR'] = df['ERROR'].astype('Int64')
# df['usecase'] = df['usecase'].astype('Int64')
# df['interactions'] = df['interactions'].astype('Int64')
df = df.astype({
    'comments': 'string',
    'category': 'string',
    'url': 'string',
    'ERROR': 'Int64',
    'usecase': 'Int64',
    'interactions': 'Int64',
})

Index(['url', 'category', 'ERROR', 'usecase', 'interactions', 'comments'], dtype='object')

In [3]:
df.comments = df.comments.fillna('')
df

,url,category,ERROR,usecase,interactions,comments
index,,,,,,
0,http://matchmaker.msi.com/,<NA>,1,<NA>,<NA>,
1,https://controltheweather.geostorm.movie/,<NA>,0,3,0,
2,http://1000.chromeexperiments.com,<NA>,0,1,1,
3,http://127.0.0.1:8000/test1/webgl/easy,<NA>,0,1,0,
4,http://127.0.0.1:8000/test1/webgl/hard,<NA>,0,1,0,
...,...,...,...,...,...,...
8612,https://zulu.longines.com/,<NA>,<NA>,1,1,
8613,https://zumi.gucci.com/,<NA>,<NA>,1,1,
8614,https://zunc.studio,<NA>,<NA>,3,0,
8615,https://zuplo.com/,<NA>,<NA>,3,0,
8616,https://zylotrade.com/,<NA>,<NA>,1,0,

In [4]:
loc_error_na = (df['comments'].isna() & df['ERROR'].isna())
df.loc[loc_error_na, 'ERROR'] = 0

In [5]:
loc_usecase_na = (df['ERROR'] == 0) & df['usecase'].isna()
df.loc[loc_usecase_na, 'usecase'] = 1

In [6]:
loc_usecase_3_na = (df['ERROR'] == 0) & (df['usecase'] == 3) & df['interactions'].isna()
df.loc[loc_usecase_3_na, 'interactions'] = 0

In [7]:
loc_error = (df['ERROR'] != 0) & (~df['usecase'].isna() | ~df['interactions'].isna())
df[loc_error]

,url,category,ERROR,usecase,interactions,comments
index,,,,,,
8520,https://www.zodiac-hustle.com,<NA>,1,3,<NA>,
8521,https://www.zodiac-hustle.com/,<NA>,1,3,<NA>,
8545,https://yandex.com/everest/,<NA>,1,3,0,404
8546,https://yanlinma.com/ninx/,<NA>,1,3,0,404

In [8]:
df.loc[loc_error, 'interactions'] = None
df.loc[loc_error, 'usecase'] = None

In [9]:
loc_url_error = df.url.str[7:].str.contains('://')
tmp = df[loc_url_error]
tmp

,url,category,ERROR,usecase,interactions,comments
index,,,,,,
21,http://2018.makemepulse.comhttp://www.honigstu...,<NA>,1,<NA>,<NA>,
108,http://astateofwar.org.au/http://www.imjp.co.j...,<NA>,1,<NA>,<NA>,
117,http://authentiks.fr/http://taotajima.jp/,<NA>,0,3,0,
125,http://awards.paris/new-micra-experiencehttps:...,<NA>,1,<NA>,<NA>,
151,http://blackrainbow.la/http://astoryabouttrust...,<NA>,1,<NA>,<NA>,
...,...,...,...,...,...,...
8384,https://www.vitamincornwall.com/sproutbreakout...,<NA>,1,<NA>,<NA>,
8445,https://www.wibicom.be/https://www.itssharl.ee,<NA>,0,1,1,
8553,https://yetimotion.comhttps://david-hckh.com/,<NA>,1,<NA>,<NA>,白屏
8608,https://zoccon.me/https://tagree.agency/,<NA>,1,<NA>,<NA>,url不太对
8610,https://zonanorte.27films.fr/https://www.daily...,<NA>,1,<NA>,<NA>,404

In [10]:
df.loc[loc_url_error, 'ERROR'] = 1
df.loc[loc_url_error, 'usecase'] = None
df.loc[loc_url_error, 'interactions'] = None
df.loc[loc_url_error, 'comments'] = 'URL error'

In [11]:
df.loc[df.comments == 'File not found', 'ERROR'] = 1
df.loc[df.comments == '白屏', 'comments'] = 'white'

In [12]:
df.to_pickle('output/0328-all_url_list.pkl')
df.to_excel('output/0328-all_url_list.xlsx')

In [13]:
df.dtypes

url             string
category        string
ERROR            Int64
usecase          Int64
interactions     Int64
comments        string
dtype: object